In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("https://query1.finance.yahoo.com/v7/finance/download/PEIX?period1=1569403689&period2=1601026089&interval=1d&events=history")

In [5]:
df

           Date  Open  High   Low  Close  Adj Close    Volume
0    2019-09-25  0.61  0.65  0.58   0.59       0.59    322200
1    2019-09-26  0.59  0.62  0.55   0.56       0.56    353000
2    2019-09-27  0.56  0.58  0.55   0.55       0.55    259800
3    2019-09-30  0.56  0.60  0.56   0.56       0.56    174000
4    2019-10-01  0.58  0.62  0.55   0.59       0.59    784500
..          ...   ...   ...   ...    ...        ...       ...
248  2020-09-18  6.15  7.24  6.13   7.10       7.10  16285000
249  2020-09-21  6.98  7.84  6.55   7.71       7.71  10026100
250  2020-09-22  8.10  8.47  7.59   8.00       8.00  12802900
251  2020-09-23  7.86  8.14  7.28   7.35       7.35   8571300
252  2020-09-24  7.21  7.39  6.45   6.63       6.63   8141000

[253 rows x 7 columns]

In [10]:
#df.plot(x ='Date', y='Volume', kind = 'scatter')

In [2]:
import os
from IPython.core.display import display, JSON, Markdown
data = {"path": "./tests/demo/demo_res_nb.ipynb"}
display(Markdown("Response Set as Notebook !", metadata={"naas_api": True, "naas_type": "notebook"}))

Response Set as Notebook !